* {
    // margin: 0;
    // padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 3px;
    // transition: .25s ease;

}


body {

    background: rgb(246, 246, 246);
}

#title {
    margin-top: 1rem;
    text-align: center;
    font-weight: 400;
}

.App {
    min-height: 80vh;

    padding: 5px;
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    position: relative;

    .tools {
        position: absolute;
        height: 40px;
        top: -40px;
        border: 1px solid black;

        * {
            margin: 0;
            padding: 0;

        }

        ul {
            height: 40px;
            align-items: center;
            display: flex;

            // margin-left: 2rem;
            li {

                background: #fff;
                border: 1px solid black;
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 12px;
                cursor: pointer;
            }
        }

    }

    #divider {
        width: 10px;
    }

    textarea {
        border: 1px solid black;
        overflow: hidden;
        padding: .5rem;
        resize: none;
        font-size: 1rem;
        flex: 1;

    }

    .preview {
        overflow: auto;
        border: 1px solid black;
        padding: .5rem;

        flex: 1;
        background: #fff;

    }
}